language: python
python:
  - "3.6"
# command to install dependencies
services:
  - docker
install:
  - pip install -r requirements.txt
# command to run tests
before_script:
# Let's stop postgresql
  - sudo service postgresql stop
# wait for postgresql to shutdown.
  - while sudo lsof -Pi :5432 -sTCP:LISTEN -t; do sleep 1; done
  - docker-compose up --build --no-start
  - docker-compose start
# blocklist
branches:
  except:
  - /wip*/
script:
  - docker-compose run web pytest

