version: '3'

services:
  web:
    build: .
    command: gunicorn --bind=0.0.0.0:8000 app:create_app()
    volumes:
      - .:/code
    env_file:
      - .env

    environment:
        - DB_USER=psql_user
        - DB_PASSWORD=Ab132xw
        - DB_NAME=psql_db
        - DB_HOST=postgresql
        - DB_PORT=5432
        - DB_ENGINE=postgresql
    depends_on:
      - "postgresql"

  postgresql:
      image: postgres
      restart: always
      volumes:
       - ./data/web/postgresql:/var/lib/postgresql
      environment:
        - POSTGRES_USER=psql_user
        - POSTGRES_PASSWORD=Ab132xw
        - POSTGRES_DB=psql_db
      ports:
        - "5432:5432"
  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx.template:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - "web"