#query {
    padding-bottom: 5px;
    width: 100%;
}

#reservDetail{
    display: block;
}

#returnDetail{
    display: none;
}

#reservDescrip {
    display: block;
    font-weight: bold;
}

#returnDescrip {
    display: none;
    font-weight: bold;
}

#paginReturn {
    display: flex;
}

#paginBorrow {
    display: none;
}

.returnBtn {
    display: none;
}

.borrowBtn {
    display: flex;
}

.page-link {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.page-link:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.page-item.disabled
.page-link {
    background-color: #000;
    border-color: rgba(0,0,0,0.0);
    color: #fff;
}

.my_search_main {
    background: rgba(0,0,0,0.7);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
 }

.my_reserv {
    background: rgba(0,0,0,0.0);
    width: 100%;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0px;
 }

.col-lg-12 {
    float: left;
    color: white;
}

.col-lg-4 {
    float: left;
    color: white;
}

.col-lg-2 {
    float: left;
    color: white;
}

.col-lg-3 {
    float: left;
    color: white;
}

.book_dashboard_button{
    width: 45%;
    margin: 0px 10px 20px 10px;
}

#reserv_button{
    text-decoration : underline;
}

.btn.btn-success.submits {
    width: auto;
}