body {
    background: url("/static/img/book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-container {
    max-width: 42em;
}

.my_container {
    background: rgba(0, 0, 0, 0.7);
    width: 360px;
    margin-top: 100px;
}

.register_container {
    min-height: 305px;
}

.my_wishlist{
    background: rgba(0, 0, 0, 0.7);
    width: 500px;
    border-radius: 15px;
    height: auto;
    margin-top: 50px;
    }

.modal-content{
    background: rgba(1, 1, 1, 1);
    border: double thick red;
    border-radius: 15px;
    width: auto;
    height: auto;
    margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.form_errors {
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 26, 26, 1);
}
    #addWishButton{
      margin-top:3px;
      margin-bottom:7px;
  }

