body {
    background: url("../../img/book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-container {
    max-width: 42em;
}

.my_container {
    background: rgba(0, 0, 0, 0.7);
    width: 360px;
    margin-top: 100px;
}

.register_container {
    min-height: 305px;
}
