body {
    background: url("/static/img/book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-container {
    max-width: 42em;
}

.my_container {
    background: rgba(0, 0, 0, 0.5);
    width: 360px;
    margin-top: 100px;
}

.register_container {
    min-height: 305px;
}
.my_wishlist{
    background: rgba(0, 0, 0, 0.7);
    width: 500px;
    border-radius: 15px;
    height: auto;
    margin-top: 50px;
    }

.wish{
    background: rgba(1, 1, 1, 1);
    border: double thick red;
    border-radius: 15px;
    width: 400px;
    margin-top: 100px;
    height: 300px;
}

