#mySelect{
    display: inline-block;
    width: 100%;
    height: calc(1.75rem);
    padding: .175rem 1.75rem .175rem .75rem;
    line-height: 1.10;
    color: #000000;
}

#myText{
    color: #fff;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 8px;
}

#myText1{
    color: #fff;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 8px;
}

.cover{
    background: rgba(0, 0, 0, 0.7);
}

form {
    width: 475px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#pub_date{
    border-radius: 3pt;
    border-style: hidden;
    padding-left: 8px;
    min-height: 28px;
    font-size: 12px;
    width: -webkit-fill-available;
}

.add-one{
  color:green;
  text-align:center;
  font-weigth:bolder;
  cursor:pointer;
  margin-top:10px;
}

.delete{
  color:white;
  text-align:center;
  margin-top:6px;
  font-weight:700;
  border-radius:5px;
  min-width:20px;
  cursor:pointer;
}

.title{
  text-align:center;
  font-size:40px;
  margin-bottom:40px;
}

.dynamic-element{
  margin-bottom:0px;
}

.radio_but{
    display: inline-flex;
    list-style-type: none;

}
li {
    padding-left: 15px;
}

#title_of_magazine, #issue{
     display: none;
}


