/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(80, 80, 80, 1);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(80, 80, 80, 1);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: black;
    border-bottom-color: black;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 12px;
}

.cover-heading {
    font-weight: 700;
    font-size: 43px;
    font-size: 57px;
    margin-top: 70px;
}

.lead {
    font-weight: 700;
    font-size: 24px;
}

