/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(80, 80, 80, 1);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(80, 80, 80, 1);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: black;
    border-bottom-color: black;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 12px;
}

.cover-heading {
    font-weight: 700;
    font-size: 43px;
    font-size: 57px;
    margin-top: 70px;
}

.lead {
    font-weight: 700;
    font-size: 24px;
}

.btn-sample{
    margin-top: 50px;
    font-size: 20px;
}

.tieto_logo{
    float: left;
    padding: 10px;
}


btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
    margin-left: 1rem;
    border-radius: 15px;
}

.dropdown {
    position: relative;
    margin-left: 7px;
    border-radius: 15px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu.show {
    display: block;
    box-size: auto;
}
