.wrap {
    color: rgba(255, 255, 255, 1);
    padding: 5% 0;
}

.my_container {
    width: 100%;
}

p.subpage-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p.copies {
    margin: 5% 0 1%;
}

p.item-description {
    margin: 0 10%;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-style: italic;
    font-size: 13px;
}

table {
    text-align: left;
    margin: 0 auto;
    width: 90%;
    border-spacing: 30px;
}

th, td {
    padding: 10px 1em 0;
}

.table-button {
    padding: 4px 0;
}

tr {
    width: 100%;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

tr:last-child {
    border-bottom: 0;
}

table.copies-info {
    text-align: center;
}