#query_form {
    padding-bottom: 5%;
}

#query {
    border-bottom: 4px double;
}

.table thead th {
    border-top: none;
}

a {
    color: white;;
}

a:hover {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.question_mark_btn {
    background-color: #ffffff00;
    color: white;
}