#query_form {
    padding-bottom: 5%;
}

#query {
    border-bottom: 4px double;
}

.table thead th {
    border-top: none;
}

a {
    color: white;;
}

a:hover {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.question_mark_btn {
    background-color: #ffffff00;
    color: white;
}

.author-column {
    width:150px;
}

.title-paragraph {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.author-paragraph {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.author-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
  
.author-list-item {
    display: inline;
}

.author-list-item:not(:last-child)::after {
    content: ", ";
}
