.scrollspy-example {
 overflow-y: scroll;
 width: 485px;
 height: 360px;
 color:silver;
  }
  #wishList li {
  list-style-type: none;
}
.close{
   color:white;
   size:19px;
}
.close:hover {
   color:red;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.add{
   margin-top: 20px;
   margin-bottom:15px;

.add:hover {
   transition: background-color 0.5s ease;
}


.btn-sample{
   margin-top: 100px;
   font-size: 20px;
}
@font-face {
  font-family: 'book';
  src: url('../font/book.eot?50094616');
  src: url('../font/book.eot?50094616#iefix') format('embedded-opentype'),
       url('../font/book.woff2?50094616') format('woff2'),
       url('../font/book.woff?50094616') format('woff'),
       url('../font/book.ttf?50094616') format('truetype'),
       url('../font/book.svg?50094616#book') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'book';
    src: url('../font/book.svg?50094616#book') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "book";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}