.scrollspy-example {
    overflow-y: scroll;
    width: 485px;
    height: 360px;
    color: silver;
}

#addWishButton {
    margin-top: 3px;
    margin-bottom: 7px;
}

#wishList li {
    list-style-type: none;
}

.close-button {
    color: white;
    size: 19px;
}

.close-button:hover {
    color: red;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.add {
    margin-top: 20px;
    margin-bottom: 15px;
}

.add {
    margin-top: 20px;
    margin-bottom: 15px;
}

.add:hover {
    transition: background-color 0.5s ease;
}

.btn-sample {
    margin-top: 100px;
    font-size: 20px;
}