version: '3'

services:
  cron:
    build:
      context: ..
      dockerfile: './docker/Dockerfile-cron'
    environment:
    - CRON_MINUTE=* * * * * root curl http://web:8000/check_reservation_status_db

  web:
    build:
      context: ..
      dockerfile: './docker/Dockerfile'
    command: sh ./docker/run.sh -p
    volumes:
      - ..:/code
    env_file:
      - .env

    environment:
        - DB_USER=psql_user
        - DB_PASSWORD=Ab132xw
        - DB_NAME=psql_db
        - DB_HOST=postgresql
        - DB_PORT=5432
        - DB_ENGINE=postgresql
        - ENV=prod
    depends_on:
      - "postgresql"
    container_name: melvil_web_prod

  postgresql:
      image: postgres
      restart: always
      volumes:
       - ./data/web/postgresql:/var/lib/postgresql
      environment:
        - POSTGRES_USER=psql_user
        - POSTGRES_PASSWORD=Ab132xw
        - POSTGRES_DB=psql_db
      ports:
        - "5432:5432"
      container_name: melvil_postgres_prod
  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx.template:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - "web"