{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/books.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


{% endblock %}
{% block title %}Add new book{% endblock %}

{% block content %}
{% from "macros.html" import input with context %}
<div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <p class="form-title">Add new book</p>
        <form class="login" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="container">


                <div class="row">
                    <div class="col">
                        {{ input( form.title ,error['title']) }}
                    </div>
                    <div class="col">
                        {{ input( form.original_title ,error['original_title']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        {{ input( form.publisher ,error['publisher']) }}
                    </div>
                    <div class="col">
                            <br>
                            <p id="myText">Year of publication:</p>
                            <!-- miejsce z data -->
                            {{ input(form.pub_date, error['pub_date'])}}

                    </div>
                </div>


                <p id="myText">Autors:</p>
                <div class="row">
                    <div class="col">
                        {{ input( form.first_name, error['first_name']) }}
                    </div>
                    <div class="col">
                        {{ input( form.surname, error['surname']) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ input( form.first_name_1, error['first_name_1']) }}
                    </div>
                    <div class="col">
                        {{ input( form.surname_1, error['surname_1']) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ input( form.first_name_2, error['first_name_2']) }}
                    </div>
                    <div class="col">
                        {{ input( form.surname_2, error['surname_2']) }}
                    </div>
                </div>


<!-- Dynamiczny formularz który nie działa -->
                    <!--<br>-->
                         <!--&lt;!&ndash;### DYNAMIC FORMS ###&ndash;&gt;-->
                    <!--<div class="form-group dynamic-element" style="display:none">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-2"></div>-->

                            <!--&lt;!&ndash; Replace these fields &ndash;&gt;-->
                            <!--<div class="row">-->
                                <!--<div class="col">-->
                                    <!--{{ input( form.first_name, error['first_name']) }}-->
                                <!--</div>-->
                                <!--<div class="col">-->
                                    <!--{{ input( form.surname, error['surname']) }}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; End of fields&ndash;&gt;-->
                            <!--<div class="col-md-1">-->
                                <!--<p class="delete">x</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END OF HIDDEN ELEMENT &ndash;&gt;-->

                    <!--<div class="form-container">-->
                        <!--<form class="form-horizontal">-->
                            <!--<fieldset>-->
                                <!--&lt;!&ndash; Form Name &ndash;&gt;-->
                                <!--<legend class="title" id="myText">Autorzy:</legend>-->

                                <!--<div class="dynamic-stuff">-->
                                    <!--&lt;!&ndash; Dynamic element will be cloned here &ndash;&gt;-->
                                    <!--&lt;!&ndash; You can call clone function once if you want it to show it a first element&ndash;&gt;-->
                                <!--</div>-->

                                <!--&lt;!&ndash; Button &ndash;&gt;-->
                                <!--<div class="form-group">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-12">-->
                                            <!--<p class="add-one" id="myText">+ Dodaj autora</p>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</fieldset>-->
                        <!--</form>-->
                    <!--</div>-->
                     <!--&lt;!&ndash;### END OF DYNAMIC FORMS ###&ndash;&gt;-->




                    <div class="row">
                        <div class="col">
                            <br>
                            {{ input( form.isbn ,error['isbn']) }}
                        </div>
                        <div class="col">
                            <p id="myText">Language:</p>
                            {{ input( form.language ,error['language']) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <br>
                            {{ input( form.tag ,error['tag']) }}
                        </div>
                        <div class="col">
                            <p id="myText">Category:</p>
                            {{ input( form.category ,error['category']) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            {{ input( form.table_of_contents ,error['table_of_contents']) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ input( form.description ,error['description']) }}
                        </div>
                    </div>

                    {{form.submit}}

            </div>
        </form>
    </main>
</div>
{% endblock %}

{% block scripts %}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script>-->

        <!--$(function() {-->
            <!--$(".dtpick").datepicker({-->
                <!--onSelect: function (selectedDate) {-->
                    <!--$("input[name='pub_date']").val(selectedDate);-->
                    <!--$('#pub_date').val();-->
                    <!--console.log(selectedDate);-->
                <!--}-->

            <!--});-->

        <!--});-->
    <!--</script>-->


<!-- Skrypt do dynamicznych formularzy-->
    <script>

        //Clone the hidden element and shows it
        $('.add-one').click(function(){
            $('.dynamic-element').first().clone().appendTo('.dynamic-stuff').show();

          attach_delete();
        });




        //Attach functionality to delete buttons
        function attach_delete(){
          $('.delete').off();
          $('.delete').click(function(){
            console.log("click");
            $(this).closest('.form-group').remove();
          });
        }
    </script>


{% endblock %}