{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_books.css') }}">
{% endblock %}

{% block content %}
{% from "macros.html" import input with context %}
{% from "macros.html" import flashed_message with context %}
<div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {{ flashed_message(messages) }}
    {% endwith %}
</div>
<p class="form-title">SEARCH</p>
<form action="" method="get" id=query>
    {{ input(search_form.query) }}
</form>
<div class="container my_search_main">
    {% from "macros.html" import render_content with context %}
    <div class="row">
        <div class="col">
            <button id="showReserv" type="button" class="btn btn-primary book_dashboard_button">
                Reserved:
            </button>
        </div>
        <div class="col">
            <button id="showReturn" type="button" class="btn btn-primary book_dashboard_button">
                Borrowed:
            </button>
        </div>
    </div>


    <fieldset id="myReserv">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Type</th>
                <th scope="col">Reservation date</th>
                <th scope="col">Title</th>
                <th scope="col">Asset No.</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% if reservations|length == 0 %}
            <tr>
                <th>"No reservations!"</th>
            </tr>
            {% else %}
            {% for reservation in reservations %}
            <tr>
                <th scope="row">{{reservation.user.full_name}}</th>
                <th scope="row">{{reservation.copy.library_item.type.capitalize()}}</th>
                <th scope="row">{{reservation._reservation_begin.strftime('%d-%m-%Y')}}</th>
                <th scope="row">{{reservation.copy.library_item.title}}</th>
                <th scope="row">{{reservation.copy.asset_code}}</th>
                <th scope="row">
                    <form action="{{ url_for ('library.admin_dashboard', asset=reservation.copy.asset_code) }}"
                          class="borrowBtn"
                          method="post"
                          id="borrowBtn_{{ reservation.copy.asset_code }}">
                        {{ borrow_form.hidden_tag() }}
                        {{ input(borrow_form.submit) }}
                    </form>
                </th>
                {% endfor %}
            </tr>
            {% endif %}
            </tbody>
        </table>
    </fieldset>

    <fieldset id="myBorrows">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Type</th>
                <th scope="col">Return date</th>
                <th scope="col">Title</th>
                <th scope="col">Asset No.</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            {% if borrows|length == 0 %}
            <tr>
                <th>"No borrowed items!"</th>
            </tr>
            {% else %}
            {% for borrow in borrows %}
            <tr>
                <th scope="row">{{borrow.user.full_name}}</th>
                <th scope="row">{{borrow.copy.library_item.type.capitalize()}}</th>
                <th scope="row">{{borrow._return_time.strftime('%d-%m-%Y')}}</th>
                <th scope="row">{{borrow.copy.library_item.title}}</th>
                <th scope="row">{{borrow.copy.asset_code}}</th>
                <th scope="row">
                    <form action="{{ url_for ('library.admin_dashboard', asset=borrow.copy.asset_code) }}"
                          class="returnBtn"
                          method="post"
                          id="returnBtn_{{ borrow.copy.asset_code }}">
                        {{ return_form.hidden_tag() }}
                        {{ input(return_form.submit) }}
                    </form>
                </th>
                {% endfor %}
            </tr>
            {% endif %}
            </tbody>
        </table>
    </fieldset>
</div>

<nav aria-label="Page navigation search">
    {% from "macros.html" import render_pagination with context %}
    {{ render_pagination(pagin_reserv, endpoint, id_name="paginReturn") }}
    {{ render_pagination(pagin_reserv, endpoint, id_name="paginBorrow") }}
</nav>


{% endblock %}