<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/wishlist.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentication.css') }}/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}/">

    {% block head %}
        <title> Melvil library - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="text-center">
{% block nav %}
    {% from "macros.html" import nav_button with context %}
    <img class="tieto_logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
    <div class="cover-container d-flex h-20 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    {{ nav_button('index', 'library.index', 'Home' ) }}
                    {{ nav_button('search', 'library.search', 'Search' ) }}
                    {{ nav_button('contact', 'library.contact', 'Contact Us' ) }}
                    {{ nav_button('add_book', 'library_books.add_book', 'Add new book' ) }}
                    {% if session['id'] %}
                        {{ nav_button('wishlist', 'library.wishlist', 'Wish List' ) }}
                            <div class="dropdown">
                               <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="float:right;" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   <li class="dropdown-header"><i class="fas fa-user-circle"></i><td><strong>  Your Status:</strong> signed in</td>
                                        <div class="col-sm-2">
                                            <td><strong>Email:</strong> {{session.email}}</td>
                                            <td> </td>
                                        </div>
                                   </li>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item disabled" href="#"><i class="fas fa-user-edit"></i>Edit your profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item disabled" href="http://localhost:5000/logout"><i class="fas fa-power-off"></i>Logout</a>
                               </div>
                            </div>
                     {% else %}
                        <div class="dropdown">
                           <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="float:right;" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                           </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                               <li class="dropdown-header"><i class="fas fa-user-circle"></i><td><strong>  Your Status:</strong> signed out</td>
                               </li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="http://localhost:5000/login"><i class="fa fa-sign-in"></i> Login</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="http://localhost:5000/registration"><i class="fa fa-id-card"></i> New User?</a>
                           </div>
                        </div>
                    {% endif %}
                </nav>
            </div>
        </header>
    </div>
{% endblock %}
{% block content %}{% endblock %}
{% block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script type="text/javascript" src="/static/js/search.min.js"></script>
<script type="text/javascript" src="/static/js/search_wish.min.js"></script>
<script type="text/javascript" src="/static/js/tooltip_wish.js"></script>
<script type="text/javascript" src="/static/js/logout.js"></script>
{% endblock %}
</body>
</html>