{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
  <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
      <main role="main">
            <div class="book_borrowing_dashboard">
                <div style="color=pink;">
                    <button type="button" onclick="reserv()" class="btn btn-light book_dashboard_button">Reserved books: 0</button>
                    <button type="button" onclick="booked()" class="btn btn-light book_dashboard_button">Borrowed books: 0</button>
                </div>
                <table id="reserv" class="table">
                  <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Reservation date</th>
                        <th scope="col">Reservation expiry date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if reserved_books == [] %}
                    <tr>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                    </tr>
                  {% else %}
                  {% for item in reserved_books %}
                    <tr>
                        <td>{{item[0].title}}</td>
                        <td>
                            {% for author in item[0].authors %}
                            {{author.first_name}} {{author.last_name}}
                            {% endfor %}
                        </td>
                        <td>{{item._borrow_time.strftime('%Y-%m-%d')}}</td>
                        <td>{{item._return_time.strftime('%Y-%m-%d')}}</td>
                    </tr>
                  {% endfor %}
                  {% endif %}
                  </tbody>
                </table>
                <table id="booked" class="table" >
                  <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Book rental date</th>
                        <th scope="col">Rental due date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if borrowed_books == [] %}
                    <tr>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                        <td>------</td>
                    </tr>
                  {% else %}
                  {% for item in borrowed_books %}
                    <tr>
                        <td>{{item[0].title}}</td>
                        <td>
                            {% for author in item[0].authors %}
                            {{author.first_name}} {{author.last_name}}
                            {% endfor %}
                        </td>
                        <td>{{item._borrow_time.strftime('%Y-%m-%d')}}</td>
                        <td>{{item._return_time.strftime('%Y-%m-%d')}}</td>
                    </tr>
                  {% endfor %}
                  {% endif %}
                  </tbody>
                </table>
            </div>
      </main>
  </div>
<script>
function reserv() {
    document.getElementById("booked").style.display = "none";
    document.getElementById("reserv").style.display = "block";
}
function booked() {
    document.getElementById("reserv").style.display = "none";
    document.getElementById("booked").style.display = "block";
}
</script>
{% endblock %}
