{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/narrow_template.css') }}/">
{% endblock %}


{% block content %}
{% from "macros.html" import input with context %}
<div class="col-md-12">
    <div class="wrap">
        <p class="form-title">
            Contact Us</p>
        <form class="login" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                {{ input(form.email, error['email']) }}
            </div>
            <div class="row">
                {{ input(form.title, error['title']) }}
            </div>
            <div class="row">
                {{ input(form.message, error['message']) }}
            </div>
            <div class="row">
                {{ form.send_message() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}