{% extends "base.html" %}
{% block title %}Add new copy{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_copy.css') }}">
{% endblock %}

{% block content %}
{% from "macros.html" import field_input with context %}

<div class="row">
    <div class="col-md-12">
        <div class="wrap">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="window.location.href='{{ url_for('library.search')}}';">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="form-title">{{ action }} new copy</p>

            <form class="login" method="post">
                
                {{ form.hidden_tag() }}
                {{ field_input(form.asset_code, error['asset_code'], placeholder="Asset Code") }}
                {{ field_input(form.shelf, error['shelf'], placeholder="Shelf") }}
                {{ field_input(form.has_cd_disk, error['has_cd_disk'], label="Has CD disk?") }}

                <input type="submit" class="btn btn-primary submits"
                       name="submit" value="Save">

            </form>
        </div>
    </div>
</div>
{% endblock %}
