{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/books.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


{% endblock %}
{% block title %}EDIT BOOK/MAGAZINE{% endblock %}

{% block content %}
{% from "macros.html" import input with context %}
<div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <p class="form-title">EDIT BOOK/MAGAZINE</p>
        <form class="login" method="post">
            {{ form.hidden_tag() }}
            {% if item_type == 'book' %}
            <div class="container">


                <div class="row">
                    <div class="col">
                        {{ input( form.title ,error['title']) }}
                    </div>
                    <div class="col">
                        {{ input( form.original_title ,error['original_title']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        {{ input( form.publisher ,error['publisher']) }}
                    </div>

                    <div class="col">
                        <br>
                        <p id="myText">Year of publication:</p>
                        {{ input(form.pub_date, error['pub_date'])}}

                    </div>
                </div>


                <p id="myText1">Autors:</p>

                <div class="row">
                    <div class="col">
                        {{ input( form.first_name, error['first_name']) }}
                    </div>
                    <div class="col">
                        {{ input( form.surname, error['surname']) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ input( form.first_name_1, error['first_name_1']) }}
                    </div>
                    <div class="col">
                        {{ input( form.surname_1, error['surname_1']) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ input( form.first_name_2, error['first_name_2']) }}
                    </div>
                    <div class="col">
                        {{ input( form.surname_2, error['surname_2']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <br>
                        {{ input( form.isbn ,error['isbn']) }}
                    </div>
                    <div class="col">
                        <p id="myText">Language:</p>
                        {{ input( form.language ,error['language']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <br>
                        {{ input( form.tag ,error['tag']) }}
                    </div>
                    <div class="col">
                        <p id="myText">Category:</p>
                        {{ input( form.category ,error['category']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        {{ input( form.table_of_contents ,error['table_of_contents']) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ input( form.description ,error['description']) }}
                    </div>
                </div>

                {{form.submit}}

            </div>
            {% elif item_type == 'magazine' %}
            <div class="container">


                <div class="row">
                    <div class="col">
                        {{ input( form.title_of_magazine ,error['title_of_magazine']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        {{ input( form.issue ,error['issue']) }}
                    </div>

                    <div class="col">
                        <br>
                        <p id="myText">Year of publication:</p>
                        {{ input(form.pub_date, error['pub_date'])}}

                        <p id="myText">Language:</p>
                        {{ input( form.language ,error['language']) }}
                    </div>

                </div>


                <div class="row">
                    <div class="col">
                        <br>
                        {{ input( form.tag ,error['tag']) }}
                    </div>
                    <div class="col">
                        <p id="myText">Category:</p>
                        {{ input( form.category ,error['category']) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        {{ input( form.table_of_contents ,error['table_of_contents']) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ input( form.description ,error['description']) }}
                    </div>
                </div>
            </div>
            {{form.submit}}


            {% endif %}
        </form>
    </main>
</div>
{% endblock %}

{% block scripts %}

<script>

    function showMagazine() {
        $("#title_of_magazine").prop("disabled", false).show();
        $("#table_of_contest").prop("disabled", false).show();
        $("[name='pub_date']").prop("disabled", false).show();
        $("[name='language']").prop("disabled", false).show();
        $("[name='category']").prop("disabled", false).show();
        $("#tag").prop("disabled", false).show();
        $("#description").prop("disabled", false).show();
        $("#button").prop("disabled", false).show();
        $("#issue").prop("disabled", false).show();
    }

    function showBooks() {
        $("#title").prop("disabled", false).show();
        $("#original_title").prop("disabled", false).show();
        $("#publisher").prop("disabled", false).show();
        $("#table_of_contest").prop("disabled", false).show();
        $("[name='pub_date']").prop("disabled", false).show();
        $("[name='language']").prop("disabled", false).show();
        $("[name='category']").prop("disabled", false).show();
        $("#tag").prop("disabled", false).show();
        $("#description").prop("disabled", false).show();
        $("#button").prop("disabled", false).show();
        $("[name='first_name']").prop("disabled", false).show();
        $("[name='surname']").prop("disabled", false).show();
        $("[name='first_name_1']").prop("disabled", false).show();
        $("[name='surname_1']").prop("disabled", false).show();
        $("[name='first_name_2']").prop("disabled", false).show();
        $("[name='surname_2']").prop("disabled", false).show();
        $("#isbn").prop("disabled", false).show();
    }

    $(document).ready(function show_form() {
        showBooks()
        showMagazine()
    });

</script>

{% endblock %}