{% extends "base.html" %}
{% block title %}Edit profile data{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/narrow_template.css') }}/">
{% endblock %}


{% block content %}
{% from "macros.html" import field_input with context %}
<div class="row">
    <div class="col-md-12">
        <div class="wrap">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="window.location.href='{{ url_for('library.index')}}';">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="form-title">
                Edit password</p>
            <form class="edit-password" method="post">
                {{ form.hidden_tag() }}
                {{ field_input(form.password, error['password'], placeholder="Current password") }}
                {{ field_input(form.new_password, error['new_password'], placeholder="New password") }}
                {{ field_input(form.confirm_password, error['confirm_password'], placeholder="Confirm password") }}
                <input type="submit" class="btn btn-primary submits"
                       name="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}