{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/narrow_template.css') }}/">
{% endblock %}
{% block content %}
{% from "macros.html" import input with context %}
<div class="row">
    <div class="col-md-12">
        <div class="wrap">
            <p class="form-title">
                Reset password</p>
            <form class="login" action="" method="post">
                {{ form.csrf_token }}
                {{ input( form.email ,error['email']) }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>
{% endblock %}