{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Melvil Library</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Search book</a>
        </p>
      </main>
    </div>
{% endblock %}