{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if session['logged_in']%}
    <p>You are already logged</p>
{% else %}
        <h1>Sign In</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
                {% if error %}
                <p class = "error">
                    {% for m in error['username'] %}
                    {{m}}
                    {% endfor %}
                </p>
                {% endif %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% if error %}
                <p class = "error">
                    {% for m in error['password'] %}
                    {{m}}
                    {% endfor %}
                </p>
                {% endif %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
{% endif %}
{% endblock %}



{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
   <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <div class="container my_container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap">
                        <p class="form-title">
                            Sign In</p>
                        <form class="login" action="" method="post">
                        <input type="text" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <input type="submit" value="Sign In" class="btn btn-primary" />
                        <div class="remember-forgot">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" />
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 forgot-pass-content">
                                    <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </main>
    </div>
{% endblock %}
