{% macro nav_button(endpoint, function, name ) %}
    {% if request.endpoint.endswith(endpoint) %}
        <a class="nav-link active" href="{{ url_for(function) }}">{{ name }}</a>
    {% else %}
        <a class="nav-link" href="{{ url_for(function) }}">{{ name }}</a>
    {% endif %}
{% endmacro %}


{% macro input(form, errors) %}
    {{ form }}
    {% for error in errors %}
        <p class="form_errors">{{ error }}</p>
    {% endfor %}
{% endmacro %}


{% macro table_row(label, content) %}
    <tr>
        <th>{{ label }}</th>
        <td>{{ content|default('-', true) }}</td>
    </tr>
{% endmacro %}

{% macro copy_info_row(copy, index) %}
    <td>{{ index }}</td>
    <td>{{ copy.asset_code }}</td>
    <td>{{ copy.has_cd_disk }}</td>
    <td>{{ 'Available' if copy.available_status else 'Occupied' }}</td>
{% endmacro %}


{% macro field_input(field, errors) %}
    {% if kwargs['label'] %}
        <label>
            <span>{{ kwargs['label'] }}</span>
            {{ field(class_="inputs") }}
        </label>
    {% else %}
        {{ field(class_="inputs", placeholder=kwargs['placeholder']) }}
    {% endif %}

    {% for error in errors %}
        <p class="form_errors">{{ error }}</p>
    {% endfor %}
{% endmacro %}


{% macro flashed_message(messages) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
                <div class="alert alert-success" role="alert">
            {% else %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                </div>
            {% endif %}
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endmacro %}