{% macro nav_button(endpoint, function, name ) %}
    {% if request.endpoint.endswith(endpoint) %}
        <a class="nav-link active" href="{{ url_for(function) }}">{{ name }}</a>
    {% else %}
        <a class="nav-link" href="{{ url_for(function) }}">{{ name }}</a>
    {% endif %}
{% endmacro %}


{% macro input(form, errors) %}
    {{ form }}
    {% for error in errors %}
        <p class="form_errors">{{ error }}</p>
    {% endfor %}
{% endmacro %}


{% macro table_row(label, content) %}
    <tr>
        <th>{{ label }}</th>
        <td>{{ content|default('-', true) }}</td>
    </tr>
{% endmacro %}

{% macro copy_row(copy, index) %}
    <tr>
        <td>{{ index }}</td>
        <td>{{ copy.asset_code }}</td>
        <td>{{ copy.has_cd_disk }}</td>
        <td>AVAILABLE</td>
    </tr>
{% endmacro %}