{% extends "base.html" %}
{% block title %}Register{% endblock %}{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/narrow_template.css') }}/">
{% endblock %}
{% block content %}
{% from "macros.html" import input with context %}
<div class="row">
    <div class="col-md-12">
        <div class="wrap">
            <p class="form-title">
                Register</p>
            <form class="login" action="" method="post">
                {{ form.hidden_tag() }}
                {{ input(form.first_name, error['first_name']) }}
                {{ input(form.surname, error['surname']) }}
                {{ input(form.email, error['email']) }}
                {{ input(form.password, error['password']) }}
                {{ input(form.confirm_pass, error['confirmPass']) }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
