{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
   <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <div class="container my_container register_container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap">
                        <p class="form-title">
                            Register</p>
                        <form class="login" action="" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.email }}
                            {% for error in error['email'] %}
                                {{error}}
                            {% endfor %}
                            {{ form.first_name}}
                            {% for error in error['first_name'] %}
                                {{error}}
                            {% endfor %}
                            {{ form.surname }}
                            {{ form.password }}
                            {% for error in error['password'] %}
                                {{error}}
                            {% endfor %}
                            {{ form.confirmPass }}
                            {% for error in error['confirmPass'] %}
                                {{error}}
                            {% endfor %}
                            {{ form.submit() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </main>
    </div>
{% endblock %}
