{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% from "macros.html" import flashed_message with context %}
    <h1>Search</h1>
    <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {{ flashed_message(messages) }}
                {% endwith %}
            </div>
            <input class="form-control" id="bookInput" type="text" placeholder="Search...">
            <ul class="list-group" id="bookList">
                {% for book in books %}
                    <li class="list-group-item my_container">
                        <a href="{{ url_for('library.item_description', item_id=book[0]) }}">
                            <div class="col-lg-6">
                                {{ book[1] }}
                            </div>
                        </a>
                        <a href="{{ url_for('library.item_description', item_id=book[0]) }}">
                            <div class="col-lg-6">
                                {{ ' '.join(book[2]) }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </div>

{% endblock %}
