{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h1>Search</h1>
    <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        {% from "macros.html" import input with context %}
        <form action="" method="get" id=query>
          {{ input(form.query) }}
        </form>

        <div class="container my_search_main">
          <ul class="list-group" id="bookList">
            {% if all_query|length == 0 %}
              <li class="list-group-item my_search">
                <div class="col-lg-12">
                  <b>No result found!</b>
                </div>
            {% else %}
              {% for item in all_query %}
                <li class="list-group-item my_search">
                  <div class="col-lg-5" id="title_{{ loop.index }}">
                    <a href="{{ url_for('library.item_description', item_id=item['id']) }}">
                      {{ item['title'] }}
                    </a>
                  </div>
                  <div class="col-lg-6" id="auth_iss_{{ loop.index }}">
                    {% if item['type'] == 'book' %}
                      {% for author in item['authors'] %}
                        <a href="{{ url_for('library.index', author_name=author) }}" id="author_{{ loop.index }}">
                          {% if loop.last %}
                            {{ author }}...
                          {% else %}
                            {{ author }},
                          {% endif %}
                        </a>
                      {% endfor %}
                    {% elif item['type'] == 'magazine' %}
                      <p>Issue no.: {{ item['issue'] }}</p>
                    {% endif %}
                  </div>
                  <div class="col-lg-1" id="type_{{ loop.index }}" data-toggle="tooltip" data-placement="right" title="{{ item['type'].capitalize() }}">
                    <p>?</p>
                  </div>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>

        <nav aria-label="Page navigation example">
            {% if prev_url %}
              <a href="{{ prev_url }}">
                <button type="button" class="btn btn-dark">
                  <
                </button>
              </a>
            {% else %}
              <button type="button" class="btn btn-dark" disabled>
                <
              </button>
            {% endif %}

            {% if next_url %}
              <a href="{{ next_url }}">
                <button type="button" class="btn btn-dark">
                  >
                </button>
              </a>
            {% else %}
              <button type="button" class="btn btn-dark" disabled>
                >
              </button>
            {% endif %}
            </ul>
        </nav>

      </main>
    </div>

{% endblock %}