{% extends "base.html" %}
{% block title %}Wish list{% endblock %}
{% block content %}
   {% from "macros.html" import input with context %}

       <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body wish" id="exampleModalLabel">
                <button type="button" style="white" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location.href='{{ url_for('library.wishlist')}}';">
                  <span aria-hidden="true">&times;</span>
                    </button>
                             <br>
                               <p class="form-title">Create new wish</p>
                                   <form class="wishlist" action="" method="post">
                                       {{ form.hidden_tag() }}
                                       {{ input( form.authors, error['authors'])}}
                                       {{ input( form.title, error['title'] ) }}
                                       {{ input( form.pub_year, error['pub_year'])}}
                                       {{ form.add }}
                                   </form>
              </div>
            </div>
          </div>


{% endblock %}