{% extends "base.html" %}
{% block title %}Wish list{% endblock %}
{% block content %}
    {% from "macros.html" import render_pagination, input with context %}
    <h1>Search
        <button type="button" class="btn btn-link" data-container="body" data-toggle="popover"
                data-placement="right"
                data-content="If you can't find the book you want just add a new one to wishlist!">
            <i class="fas fa-info-circle"></i>
        </button>
    </h1>
    <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <form action="" method="get" id=query>
                {{ input(form.query) }}
            </form>
            <div class="container my_search_main">
                <p class="form-title"> Wish list</p>
                    <ul class="list-group" id="wishList">
                        {% if wishes %}
                            {% for item in wishes %}
                                <li class="list-group-item my_search my_wish">
                                    <div class="col-lg-2">
                                    {% if item['item_type'] == 'book' %}
                                        <img src="../../static/img/i_book.png"
                                             alt='book'/>{% endif %}
                                    {% if item['item_type'] == 'magazine' %}
                                        <img src="../../static/img/i_newspaper.png"
                                             alt='journal'/>{% endif %}
                                    </div>
                                    <div class="col-lg-3" title="{{ item['title'] }}">
                                        "{{ item['title'] }}"
                                    </div>
                                    <div class="col-lg-3" title="{{ item['authors'] }}">
                                        {{ item['authors'] }}
                                    </div>
                                    <div class="col-lg-2">
                                        {{ item['pub_year'].strftime('%Y') }}
                                    </div>
                                    <button type="button" id="addLike_{{ item['id'] }}"
                                            class="btn btn-outline-danger"
                                            style="border:none;">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <span id="likes_{{ item['id'] }}" style="color:white;font-weight:bold;">{{ item.likes|length }}</span>
                                    {% if admin %}
                                        <button type="button" class="btn btn-outline-light"
                                                style="border:none;" href="#"
                                                id="tooltip-ex" data-toggle="tooltip"
                                                data-placement="right" title="Delete"
                                                onclick="window.location.href='{{ url_for('library.delete_wish',wish_id=item.id) }}';">
                                            <i class="fa fa-trash"></i></button>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% else %}
                        <p style="color: #fff;">There are no whishes! Create a new one!</p>
                        {% endif %}
                    </ul>
                <button type="button" id="addWishButton" class="btn btn-primary btn-sample" data-toggle="modal"
                        onclick="window.location.href='{{ url_for('library.add_wish') }}';">
                    Create new wish
                </button>
            </div>
            {% if wishes %}
            <nav aria-label="Page navigation search">
                {{ render_pagination(pagination, endpoint) }}
            </nav>
            {% endif %}
        </main>
    </div>

{% endblock %}


